@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-RegularDEMO.otf") format("opentype");
}

@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-VariableFont_wght.ttf") format("truetype");
}

.heading {
  font-family: "Recoleta";
  font-size: 36px;
  color: black;
  margin: 0%;
}

.sub-heading {
  font-family: sans-serif;
  font-weight: bold;
  color: black;
}

body {
  font-family: "Exo", sans-serif;
  font-size: 14x;
  color: rgb(78, 78, 78);
}

.header {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 50px;
}

.logo-image {
  max-width: 30px;
  max-height: 30px;
  margin-right: 20px;
}

/* Logo Rotation animation*/
@keyframes wheel-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the animation on hover */
.logo-image:hover {
  animation: wheel-rotate 1s linear infinite;
}

.welcome {
  margin-top: 100px;
}

#anc-section {
  font-size: 13px;
  color: rgb(150, 150, 150);
}

#link {
  text-decoration: none;
  position: relative;
}

#link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: black;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

#link:hover::before {
  transform: scaleX(1);
}

.black-link {
  color: rgb(78, 78, 78);
}

.black-link:hover {
  color: rgb(0, 0, 0);
}

.link-no-underline {
  text-decoration: none;
  color: inherit; /* This ensures the link color is inherited from its parent */
}

p,
li {
  text-align: justify;
}

.form-align {
  margin-top: 150px;
  padding-left: 100px;
}

@media screen and (max-width: 767px) {
  body {
    padding: 10px;
    font-size: 0.9rem;
  }

  .heading {
    font-size: 30px;
  }
}

@media screen and (max-width: 991px) {
  .form-align {
    margin-top: 80px;
    padding-left: 0;
  }
}

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  margin-bottom: 40px;
}

label {
  margin-bottom: 10px;
}

.crafted-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.card {
  position: relative;
  width: 350px;
  height: 200px;
  margin: 0 auto; /* Center the card horizontally */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 992px) {
  /* Add margin to "Learn More" button */
  .arrow-button {
    margin-bottom: 5rem;
  }
}
.arrow-button {
  display: flex;
  background-color: #ffffff;
  transition: all 0.3s ease;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  border: none;
}

.arrow-button > .arrow {
  width: 8px;
  height: 8px;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all 0.3s ease;
}

.arrow-button > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 10px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all 0.3s ease;
  content: "";
  right: 0;
}

.arrow-button:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
  opacity: 1;
  width: 10px;
}

/*CSS for Aerodrive page*/
#mini-heading {
  font-size: 16px;
  font-weight: bold;
  color: rgb(95, 95, 95);
}

#stack-icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 30px;
  border-radius: 20px;
}

#stack-icon-logo {
  height: 20px;
}

#stack-icon-text {
  font-size: 15px;
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  #stack-icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 20px;
    border-radius: 20px;
  }

  #stack-icon-logo {
    height: 10px;
  }

  #stack-icon-text {
    font-size: 12px;
    margin-right: 5px;
  }
}

.stack-react {
  background-color: rgb(71, 71, 71);
  color: white;
}
.stack-redux {
  background-color: rgb(252, 202, 233);
}
.stack-vite {
  background-color: rgb(250, 242, 128);
}
.stack-vue {
  background-color: rgb(191, 247, 174);
}
.stack-unocss {
  background-color: rgb(219, 219, 219);
}
.stack-tailwind {
  background-color: rgb(204, 245, 255);
}
.stack-bootstrap {
  background-color: rgb(252, 202, 233);
}
.stack-express {
  background-color: rgb(224, 224, 224);
}
.stack-node {
  background-color: rgb(121, 248, 152);
}
.stack-minio {
  background-color: rgb(0, 0, 0);
  color: white;
}
.stack-mongo {
  background-color: rgb(205, 255, 199);
}
.stack-firebase {
  background-color: rgb(252, 223, 127);
}
.stack-html {
  background-color: rgb(255, 198, 198);
}
.stack-css {
  background-color: rgb(206, 201, 255);
}

.video-layout {
  width: 100%; /* Set the width of the video player */
  max-width: 800px; /* Set a maximum width if needed */
  display: block; /* Make the video a block element to control its positioning */
  margin: 0 auto; /* Center the video horizontally */
  border: 1px solid #e7e4e4; /* Add a border for visual appeal */
  border-radius: 10px;
}

/*CSS for Designs page*/
.wallpaper-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-cont {
  max-width: 100%;
  padding: 10px 50px 50px 50px;
}

.video-lay {
  width: 100%;
  height: auto;
}

.shapes-card {
  position: relative;
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
}

.logo-designs {
  position: relative;
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .shapes-card {
    position: relative;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    cursor: pointer;
  }
}

/*CSS for Black Hole from diy projects page*/
.black-bg {
  background: #000;
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  filter: blur(5px);
}

.div,
.div:before,
.div:after {
  display: flex;
  border-radius: 50%;
  animation: anim 7s linear infinite;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.div {
  width: 30vh;
  height: 30vh;
  box-shadow: 1vh 0 3vh 2vh #f50, inset -2vh 0 3vh 4vh #f80,
    -1vh -1vh 35vh 0 #f60;
}

.div:before,
.div:after {
  content: "";
  background: #fff;
  position: relative;
  top: 6vh;
}

.div:before {
  width: 1vmin;
  height: 1vmin;
  left: 30vmin;
  box-shadow: #f4eb42 0 0 2vh 2vh, #f4eb42 2vh 4vh 2vh 0.3vh;
}
